*.dll
*.dylib
*.o
*.so
*~
.deps
aclocal.m4
autom4te.cache
buildsys.mk
config.log
config.status
configure
extra.mk
tests/window/window
tests/button/button
GTKKit.pc
tests/image/image
tests/scale/scale
tests/progressbar/progressbar
tests/progressbar/window
tests/spinner/spinner
tests/checkbutton/checkbutton
tests/togglebutton/togglebutton
tests/menu/menu
tests/switch/switch
tests/headerbar/headerbar
tests/*/* [0-9]*
tests/levelbar/levelbar
tests/listbox/listbox
docs/*
