*.dll
*.dylib
*.o
*.so
*~
.deps
aclocal.m4
autom4te.cache
buildsys.mk
config.log
config.status
configure
extra.mk
tests/window/window
tests/button/button
GTKKit.pc
tests/image/image
tests/scale/scale
tests/progressbar/progressbar
tests/progressbar/progressbar 2
tests/progressbar/progressbar 3
tests/progressbar/progressbar 4
tests/progressbar/progressbar 5
tests/progressbar/progressbar 6
tests/progressbar/progressbar 7
tests/progressbar/window
tests/spinner/spinner
